header
{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
header nav
{
    height: 8rem;
    display: flex;
    align-items: center;
    padding: .5rem 5%;
    background: linear-gradient(to top right, var(--primary-blue), var(--secondary-blue));
}
header nav .title
{
    display: flex;
}
header nav .title .icon
{
    display: flex;
}
header nav .title h1
{
    font-size: 2.7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



header .info-bar
{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(178, 250, 196);
    color: #0a0a0a;
    font-size: 2rem;
    margin-top: .1rem;
    padding: .5rem;
}